@font-face {
    font-family: Cyperspace;
    src: url(cyberspace.ttf);
}

.image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    z-index: 0;
}

.message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Cyperspace, serif;

    z-index: 1;
}